<!--
<div id="testimonials" class="parallax section db parallax-off">
-->
<div>
  <div class="container">
    <div class="section-title text-center">
      <h3>CALENDARIO DE ACTIVIDADES ACADÉMICAS</h3>
        <h4>Semestre B (Febrero - Julio) Ciclo 2020 - 2021 </h4>
    </div><!-- end title -->
    <table class="calendar-table">
      <thead>
        <tr>
          <th>Actividad</th>
          <th>Fecha</th>
          <th>Participantes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Período de reinscripción de alumnos regularizados
          </td>
          <td>
            11 y 12 de febrero 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
              <li>Control Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Actualización docente
          </td>
          <td>
            2 al 5 de febrero 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Planeación Académica
          </td>
          <td>
            8 al 12 de febrero 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr class="higligth">
          <td>
            Inicio de Clases del semestre B Ciclo 2020 - 2021
          </td>
          <td>
            15 de febrero 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de planeaciones didácticas
          </td>
          <td>
            1 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
              <li>Área Académica.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Primer período de actividades curriculares
          </td>
          <td>
            15 de febrero al 12 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Asueto por natalicio de Benito Juárez
          </td>
          <td>
            15 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr class="higligth">
          <td>
            Primer período de evaluación parcial
          </td>
          <td>
            16 al 19 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de calificaciones
          </td>
          <td>
            Tres días hábiles después de la aplicación
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Segundo período de actividades curriculares
          </td>
          <td>
            22 de marzo al 16 de abril 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de evidencia de acción Tutorial
          </td>
          <td>
            22 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Envío a la DGB, de la información sobre temas académicos correspondientes al semestre B
          </td>
          <td>
            22 de al 26 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
              <li>Área Académica.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de boletas por parte de Control Escolar a Tutores Grupales
          </td>
          <td>
            26 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Reuniones virtuales con padres de familia
          </td>
          <td>
            29 al 31 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Padres de Familia.</li>
              <li>Tutores Grupales.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Primera reunión de trabajo Colegiado
          </td>
          <td>
            31 de marzo 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
              <li>Área Académica.</li>
              <li>Dirección.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Asuetos por festejos de Semana Santa
          </td>
          <td>
            01 y 02 de abril 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr class="higligth">
          <td>
            Segundo período de evaluación Parcial
          </td>
          <td>
            12 al 16 de abril 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de Calificaciones
          </td>
          <td>
            Tres días hábiles después de la aplicación
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Envío a la DGB de la información relativa a los alumnos inscritos y reinscritos en el semestre B
          </td>
          <td>
            13 de abril 2021
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Período vacacional de primavera
          </td>
          <td>
            19 - 30 de abril 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            tercer período de actividades curriculares
          </td>
          <td>
            3 de mayo al 4 de junio 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de evidencia de Acción Tutorial
          </td>
          <td>
            4 de mayo 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Asueto por día festivo
          </td>
          <td>
            5 de mayo 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de Boletas por parte Control Escolar a Tutores Grupales
          </td>
          <td>
            7 de mayo 2021
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Reuniones virtuales con padres de Familia
          </td>
          <td>
            11 al 13 de mayo 2021
          </td>
          <td>
            <ul>
              <li>Padres de Familia.</li>
              <li>Tutores grupales.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Solicitud de exámenes de evaluación extraordinaria intra-semestral
          </td>
          <td>
            12 y 13 de mayo 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Segunda Reunión de Trabajo Colegiado
          </td>
          <td>
            17 de mayo 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
              <li>Área Académica.</li>
              <li>Dirección.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Segundo periodo de evaluación extraordinaria intra-semestral
          </td>
          <td>
            24 al 28 de mayo 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de Calificaciones de evaluación extraordinaria
          </td>
          <td>
            Tres días hábiles después de la aplicación
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr class="higligth">
          <td>
            Tercer Período de evaluación Parcial
          </td>
          <td>
            7 al 11 de junio 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de Calificaciones
          </td>
          <td>
            Tres días hábiles después de la aplicación
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr class="higligth">
          <td>
            FIN DE CLASES DEL SEMESTRE B CICLO 2020 - 2021
          </td>
          <td>
            11 DE JUNIO 2021
          </td>
          <td>
            <ul>
              <li>COMUNIDAD ESCOLAR.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de Calificaciones finales
          </td>
          <td>
            14 al 17 de junio 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de evidencia de Acción Tutorial
          </td>
          <td>
            21 de junio 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Solicitud de exámenes de evaluación extraordinaria intra-semestral
          </td>
          <td>
            21 y 22 de junio 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Examen de Alumnos de Nuevo Ingres
          </td>
          <td>
            25 de junio 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Tercer Período de evaluación extraordinaria inter-semestral
          </td>
          <td>
            28 de junio al 2 de julio 2021
          </td>
          <td>
            <ul>
              <li>Comunidad Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de calificaciones de evaluación extraordinaria
          </td>
          <td>
            Tres días hábiles después de la aplicación
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
              <li>Docentes.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Tercer Reunión de trabajo Colegiado
          </td>
          <td>
            7 de julio 2021
          </td>
          <td>
            <ul>
              <li>Docentes.</li>
              <li>Área Académica.</li>
              <li>Dirección.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Envío a la DGB de las calificaciones ordinarias de los grupos abiertos en el semestre B del ciclo escolar 2020-2021.
          </td>
          <td>
            30 de julio 2021
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Envío a la DGB de las calificaciones del segundo periodo de evaluación extraordinaria inter-semestral del ciclo escolar 2020-2021.
          </td>
          <td>
            11 de agosto 2021
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de los certificados de terminación de estudios correspondientes a la evaluación final del semestre B del ciclo escolar 2020-2021.
          </td>
          <td>
            18 de julio 2021
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Entrega de certificados de terminación de estudios a los alumnos regularizados en el segundo periodo de evaluación extraordinaria inter-semestral del ciclo escolar 2020-2021.
          </td>
          <td>
            30 de julio 2021
          </td>
          <td>
            <ul>
              <li>Control Escolar.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tr>
        <td>
          <h2>AVISO:</h2>
          <h3>Este calendario puede sufrir modificaciones de acuerdo a las necesidades del plantel.</h3>
        </td>
        <td>
          <%= image_tag "Mexico2021.png" %>
        </td>
      </tr>
    </table>
    
  </div>
  
  <hr class="invis">
</div>
