<div class="org-container">
  <!-- Chart goes here -->
  <h1 class="level-1 rectangle">Dirección General de Bachillerato</h1>
  <ol class="level-2-wrapper">
    <li>
      <h2 class="level-2 rectangle">Directivo de la Institución</h2>
      <ol class="level-3-wrapper">
        <li>
          <h3 class="level-3 rectangle">Subdirección Académica</h3>
          <ol class="level-4-wrapper">
            <li>
              <h4 class="level-4 rectangle">Psicología</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Docentes</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Prefectura</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Biblioteca</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Laboratorista</h4>
            </li>
          </ol>
        </li>
        <li>
          <h3 class="level-3 rectangle">Recursos Humanos</h3>
          <ol class="level-4-wrapper">
            <li>
              <h4 class="level-4 rectangle">Contador</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Recursos Materiales</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Auxiliar de Mantenimiento</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Vigilante</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Auxiliar de Intendencia</h4>
            </li>
          </ol>
        </li>
        <li>
          <h3 class="level-3 rectangle">Control Escolar</h3>
          <ol class="level-4-wrapper">
            <li>
              <h4 class="level-4 rectangle">Analista de sistemas</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Taquimecanógrafa</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Administrativo Especializado</h4>
            </li>
            <li>
              <h4 class="level-4 rectangle">Secretaria - Secreatario</h4>
            </li>
          </ol>
        </li>
        <li>
          <h3 class="level-3 rectangle">Oficina de Asignatura</h3>
        </li>
      </ol>
    </li>
  </ol>
</div>

