<div class="sec-container">
  <div class="row">
    <h2>Presentación</h2>
    <%= image_tag "ProteccionCivil.png", size: "40x40", class: "right" %>
  </div>
  <article>
    La  Subsecretaría de Educación Media Superior a través de la Dirección de Educación Media Superior (DGB)se preocupa e interesa porque todos los Centros Educativos desarrollen sus actividades académicas en contextos de Seguridad, Salud y Armonía.
  </article>
  <article>
    El Centro de Estudios de Bachillerato 6/1 Aguascalientes retoma esta condición indispensable en el marco de un trabajo de análisis colegiado  a través del denominado Comité de Seguridad y Salud de órgano interno que previene y atiende en forma permanente y ordenada los procesos de acción que deben seguirse antes, durante y después de una  circunstancia de riesgo y emergencia; de tal forma que permitan a nuestra comunidad conservar la integridad física y emocional de todos sus integrantes.
  </article>
  <div>
    <h2>Objetivo</h2>
<p>El propósito de establecer acciones de prevención, auxilio y recuperación, destinadas a salvaguardar la integridad física y emocional de la comunidad escolar y población flotante, así como proteger las instalaciones, bienes e información vital, patrimonio de la CEB 6/1 Aguascalientes, ante la presencia de agentes perturbadores de cualquier naturaleza.</p>
  </div>
  <div>
    <h2>Acciones</h2>
    <ol>
      <li>
        Promover la participación de la  comunidad escolar en la operación del las actividades de Seguridad, Protección, Emergencia y Salud física y emocional.
      </li>
      <li>
        Convocar mensualmente a reunión de trabajo para analizar situaciones de seguridad, protección, emergencia y salud física y emocional que requieran atención.
      </li>
      <li>
        Formular el acta donde se dejará constancia del lugar, fecha y hora de celebración de reunión; protocolos de actuación para casos específicos. anexo 1.
      </li>
      <li>
        Remitir una copia del acta constitutiva a DGB.
      </li>
      <li>
        Adecuar el Programa y actividades a las necesidades del plantel.
      </li>
      <li>
        Elaborar el análisis de riesgos internos y externos del plantel.
      </li>
      <li>
        Elaborar protocolos de actuación en estos momentos enfocándose a prevención de transmisión de COVID 19.
      </li>
      <li>
        Difundir protocolos de actuación en caso de ingresar al plantel o requerir algún servicio.
      </li>
      <li>
        Definir flujos de movimientos  (entradas, salidas, señalización de movimientos) en caso de haber personas dentro del plantel. Definir áreas o zonas de seguridad internas y externas.
      </li>
      <li>
        Difusión y colocación de señalamientos de tipo informativo, prohibitivo, restrictivo, preventivo y obligatorio, de acuerdo con la normatividad en vigor.
      </li>
      <li>
        Establecer acciones permanentes de aseo y desinfección de las instalaciones y equipo del CEB 6/1 Aguascalientes.
      </li>
      <li>
        Establecer acciones permanentes de mantenimiento preventivo y correctivo de las instalaciones y equipo de seguridad del plantel.
      </li>
      <li>
        Promover la adquisición y colocación de equipo de seguridad en el plantel escolar.
      </li>
      <li>
        Difusión de Protocolos de Seguridad , entre la comunidad educativa y circundante del plantel.
      </li>
      <li>
        Elaborar conjuntamente con los miembros de la unidad los planes de emergencia, acordes a los fenómenos perturbadores que derivados del análisis de riesgos, pudieran presentarse en el plantel.
      </li>
    </ol>
  </div>
</div>