

<div class="center jumbotron main-jumbotron">

<h1>Centro de Estudios de Bachillerato 6-1</h1>
<h2>Aguascalientes</h2>

<ul>
  <li>Misión</li>
  <li>Visión</li>
  <li>Organigrama</li>
  <li>Comité de Padres de Familia</li>
  <li>Red de Seguridad</li>
  <li>Transparencia</li>
  <li>Contacto</li>
</ul>
</div>


<p>Find me in app/views/static_pages/main.html.erb</p>
