<!--
<div class="center jumbotron main-jumbotron">
  <h1>Centro de Estudios de Bachillerato 6-1</h1>
  <h2>Aguascalientes</h2>
  <div style="margin:15px;padding:15px;">
    <h4>¡Bienvenido!</h4>
  </div>
</div>
-->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="carusel1.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="carusel2.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="carusel3.png" alt="Third slide">
    </div>
  </div>
</div>

<div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h2>Centro de Estudios de Bachillerato 6-1</h2>
                    <h2>Aguascalientes</h2>
                    <p class="lead">En el CEB 6-1 proporcionamos educación intermedia nivel Bachillerato de calidad con un excelente ambiente.</p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>CEB 6-1</h4>
                        <h2>Misión</h2>
                        <p>Brindar un espacio educativo de calidad, donde se formen jóvenes comprometidos con su entorno, desarrollando competencias además de atender sus dimensiones axiológicas, físicas, sociales y cognitivas que les permitan incorporarse a la educación superior y/o al trabajo productivo. .</p>

                        <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <%= image_tag("salon01.png", size: "390x300", class: "img-fluid img-rounded") %>
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                      <%= image_tag("compusdos.png", size: "390x300", class: "img-fluid img-rounded") %>
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Visión</h2>
                        <p>Contribuir al desarrollo científico y tecnológico de la sociedad, sustentando en los conocimientos, habilidades, valores y actitudes de nuestros egresados que favorezcan la calidad en las relaciones humanas.</p>

                        <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->