<div class="container" style="background-color:ligthgrey;">
  <h1>Aviso de privacidad GAP Sector Público</h1>
  <p>
  El Centro de Estudios de Bachillerato 6 - 1, San Francisco de los Viveros 101, Ojocaliente 1, Aguascalientes, Ags., C.P. 20080,  es el responsable del tratamiento de los datos personales que nos proporcione, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados (LGPDPPSO), y demás normatividad que resulte aplicable.
  </p>
  <h3>
  ¿Qué datos personales recabamos y para qué finalidad?
  </h3>
  <p>
  Los datos personales que recabemos a través del propio GAP del Sector Público serán utilizados con la finalidad de que el usuario de esta herramienta se pueda registrar en el sistema y generar sus avisos de privacidad.

  De igual forma, y sólo en caso de que el usuario lo autorice al momento de su registro, los datos de contacto proporcionados se utilizarán para enviar información relacionada con la herramienta (como modificaciones y encuestas de calidad). Si no desea que sus datos personales se utilicen para esta finalidad, al momento de su registro en el sistema, éste le permitirá indicarlo.

  Para las finalidades antes señaladas se solicitarán los siguientes datos personales: nombre completo, usuario, contraseña, correo electrónico, domicilio y datos de contacto de la persona encargada del departamento de datos personales (domicilio, correo electrónico, número telefónico y datos de contacto adicional que se proporcionen).

  Se informa que no se recabarán datos personales sensibles.
  </p>
  <h3>
  Fundamento para el tratamiento de datos personales
  </h3>
  <p>
  El INAI creó el GAP con fundamento en el artículo 89, fracción XII del Capítulo I del Título Octavo de la LGPDPPSO, publicada en el Diario Oficial de la Federación el día 26 de enero de 2017, y es a través del uso de esta herramienta, que se recaban los datos personales para las finalidades antes señaladas.
  </p>
  <h3>
  ¿Dónde puedo ejercer mis derechos ARCO?
  </h3>
  <p>
  Usted podrá ejercer sus derechos de acceso, rectificación, cancelación u oposición de sus datos personales (derechos ARCO) directamente ante la Unidad de Transparencia de este Instituto, ubicada en San Francisco de los Viveros 101, Ojocaliente 1, Aguascalientes, Ags., C.P. 20080, con número telefónico 449 123 4567, o bien, a través de la Plataforma Nacional de Transparencia(http://www.plataformadetransparencia.org.mx/), o en el correo electrónico unidad.transparencia@inai.org.mx.

  Si desea conocer el procedimiento para el ejercicio de estos derechos puede acudir a la Unidad de Transparencia, enviar un correo electrónico a la dirección antes señalada o comunicarse al Telinai 01800835-43-24.
  </p>
  <h3>
  Transferencia de datos personales
  </h3>
  <p>
  Se informa que no se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para atender requerimientos de información de una autoridad competente, que estén debidamente fundados y motivados.
  </p>
  <h3>
  Cambios al aviso de privacidad
  </h3>
  <p>
  En caso de que exista un cambio de este aviso de privacidad, lo haremos de su conocimiento en la propia herramienta GAP Sector Público.
  </p>
  
  <p>
  Fecha de actualización: 07/02/2018
  </p>
</div>