<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="col-md-6">
    <ul class="menu-list">
      <li><%= link_to "Crear Aviso", '#' %></li>
      <li><%= link_to "Usuarios", users_path %></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    </ul>
  </div>
</div>