
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Inscripción de Nuevo Ingreso</h2>
						<p style="font-size:1.3em;">
              Si eres egresado de secundaria y con no más de 15 años a agosto 2021, te invitamos a participar en el proceso de selección para ingreso a educación media.
            </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<p>Etapa (A) pre Registro en el Instituto de Educación de Aguascalientes</p>

						<ul class="withArrow">
							<li><span class="fa fa-angle-right"></span> Visita el portal del Instituto de Educación de Aguascalientes para alumnos de nuevo ingreso a la educación media (link está al final de esta lista)</li>
							<li><span class="fa fa-angle-right"></span> Selecciona la opción de la DGB (Dirección General de Bachilleratos)</li>
							<li><span class="fa fa-angle-right"></span> Selecciona el Centro de Estudios de Bachillerato CEB 6/1 "AGUASCALIENTES" como primera opción</li>
							<li><span class="fa fa-angle-right"></span> Imprime la ficha de registro y la ficha de pago y realiza tu pago según las instrucciones del sitio</li>
							<li><span class="fa fa-angle-right"></span> El sitio web para esta etapa es: <a href="http://educacionmedia.iea.edu.mx/nuevo-ingreso" target="_blank">Educación Media Superior</a>.</li>
						</ul>
						<a href="http://educacionmedia.iea.edu.mx/nuevo-ingreso" class="btn btn-primary waves-effect waves-dark" target="_blank">IEA Nuevo Ingreso</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
            <%= image_tag "IEAconLogo.png", size: "500x350" %>
					</div>
				</div>
			</div>
		</div>
	</section>

  <section class="section-padding gray-bg">
		<div class="container">
      <div class="row">
			  <div class="col-md-6 col-sm-6">
			  	<div class="about-image">
            <%= image_tag "salonAlumno.jpg", size:"500x300" %>
			  	</div>
			  </div>
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<p>Etapa (B) registro en el plantel CEB 6/1 "AGUASCALIENTES"</p>

						<ul class="withArrow">
							<li><span class="fa fa-angle-right"></span> Completa el formulario de registro que aparece en la liga de está página [Cédula de Registro]</li>
							<li><span class="fa fa-angle-right"></span> Descarga e imprime la cédula de registro</li>
							<li><span class="fa fa-angle-right"></span> Acude con la documentación de las dos etapas al CEB 6/1 en <a href="https://goo.gl/maps/5QVMJJnLoBWeLsma9" style="color:green;">San Francisco de los Viveros 101, Ojocaliente 1, Aguascalientes, Ags.</a></li>
						</ul>
            <div class="documentacion">
              <h3>Documentación requerida:</h3>
              <ol>
								<li>Cédula de Registro debidamente completada</li>
                <li>CURP o Acta de Nacimiento</li>
                <li>Costancia de Estudios con promedio hasta el 2do trimestre.</li>
                <li>Comprobante de pago y ficha de asignación de plantel</li>
              </ol>
            </div>
						<% puts "The link is: #{new_student_url}" %>
						<%= link_to "Cédula de Registro", new_student_url, class: "btn btn-success btn-lg", style: "color:#fff;", :data => { :turbolinks => false } %>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<p>Etapa (C) Inscripción en el CEB 6/1 "AGUASCALIENTES"</p>
						<ul class="withArrow">
							<li><span class="fa fa-angle-right"></span> Preséntate en el CEB 6/1 con la siguiente documentación</li>
						</ul>
						<div class="documentacion">
              <h3>Documentación requerida:</h3>
              <ol>
								<li>Cédula de Registro debidamente completada</li>
                <li>Acta de Nacimiento</li>
								<li>CURP</li>
                <li>Certificado de Educación Secundaria o Constancia de terminación de estudios con fecha de tentativa de entrega</li>
                <li>Comprobante de Domicilio</li>
                <li>Número de IMSSS</li>
              </ol>
            </div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<a href="https://goo.gl/maps/5QVMJJnLoBWeLsma9">
            	<%= image_tag "ubicacion.png", size: "500x350" %>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>