@import "~bootstrap/scss/bootstrap";

/* universal */
body {
  padding-top: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgb(168, 182, 187);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  cursor: pointer;
  
  &:hover {
    color: rgb(121, 129, 131);
    text-decoration: none;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-right: 55px;
  margin-bottom: 0px;
  list-style: none;
  li {
    padding-left: 15px;
    font-size: 1.2em;
    color: darkgrey;
    font-weight: bold;
    a {
      color: azure;
    }
  }
}

.navbar-inverse {
  background-color: #4c5a7d;
}

// .main-jumbotron {
//   background-image: url("../../assets/images/alumnos.png");
//   color: azure;
//   min-height: 500px;
//   h2 {
//     color: rgba(212, 88, 39, 0.514);
//   }
// }

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  img {
    float: left;
  }
}

.btn-mini {
  color: aliceblue;
  font-size: 1em;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  //position: static;
  float: none;
  a.dropdown-item {
    color: dodgerblue;
  }
}

.nav-item {
	position: relative;
	display: inline-block;
	padding: 15px 0px;
	margin: 0px 20px;
}

.mi-puto-boton {
  background-color:orange;
  border-radius:5px;
  a {
    color:rgb(12, 103, 177);
  }
}

.navbar-nav li a {
  font-weight: bolder;
  color:rgb(12, 103, 177);
}