body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.documentacion {
  p {
    font-size: 1.2em;
  }
  ol {
    list-style: upper-alpha;
  }
}

.documentacion p {
  font-size: 1.2em;
}

.avisos-title-box{
	//background: url("../../assets/images/banner.png");
	//background: url("<%= image_tag("banner.png") %>");
	background-image: url(asset-path("MITBB2.png"));
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 300px;
}

.avisos-title-box h1{
	color: rgb(15, 57, 92);
	font-weight: 800;
	text-transform: capitalize;
	padding-top: 11%;
	font-size: 84px;
	line-height: 0px;
}

.avisos-page {
  background-image: url(asset-path("corkBckgnd2.jpg"));
  padding: 60px;
  .post {
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
    padding: 30px;
    margin-bottom: 20px;
    article {
      font-size: 1.1em;
      font-weight: bolder;
    }
    small {
      float: right;
    }
  }
}

span.m_1 {
  color: rgb(53, 5, 42);
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 20px;
}