// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.control-box {
  padding: 0px 20px 10px;
  border: 2px solid #8fc5f1;
  margin-bottom: 5px;
  background: rgb(223, 237, 247);
  border-radius: 4px;
  h4 {
    padding: 0;
    margin-top: -5px;
    margin-bottom: 10px;
    // float: left;
    color: darkgoldenrod;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: +1;
  }
  span {
    font-size: 1.2em;
    border: 1px solid #3a4d5e;
    border-radius: 5px;
    padding: 1px 10px;
  }
}

.nuevo-ingreso {
  margin: auto;
  min-height: 600px;
  p {
    line-height: 1.2em;
    font-size: 1.4em;
  }
  ol {
    list-style: upper-alpha;
    font-size: 1.2rem;
  }
  .documentacion {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.container.pdf {
  background-image: url(asset-path('escudoCEB61WaterMark.png'));
}

section.section-padding.gray-bg {
  background: #ffffff;
  padding: 20px 60px ;
  color: #484848;
  ul.withArrow {
    list-style-type: none;
    color: rgb(6, 91, 160);
    list-style-position: outside;
    span {
      margin-left: -10px;
    }
  }
  
  a:link, a:visited, a:hover {
    color: #ffffff;
  }

  h2 {
    font-weight: 600;
    line-height: 1.1em;
    color: #252525;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

.about-text p {
  font-size: 1.2em;
  color: rgb(24, 88, 88);
}

.section-title {
  padding-bottom: 30px;
}